{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "next",
    "@avayler/eslint-config",
    "prettier",
    "plugin:cypress/recommended",
    "plugin:@next/next/recommended"
  ],
  "plugins": ["cypress"]
}
